header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 0 !important;
    z-index: 99;
  }
  
  .contact-stripe {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: #dafefc !important;
    display: flex;
    flex-direction: row;
  }
  
  .stripe-contact-item {
    margin-right: 20px;
    font-family: var(--font-family-sans-serif);
  }
  
  .menu-large {
    width: 100%;
    padding: 10px;
  }
  
  .menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  li {
    margin: 0 20px;
  }
  
  .custom-btn {
    background: linear-gradient(to bottom right, #76c21b, #b5f36a);
    border: 0;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
      sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .custom-btn:not([disabled]):focus {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
      -0.125rem -0.125rem 1rem #47ef71f3,
      0.125rem 0.125rem 1rem #ff9a5a80;
  }
  
  .custom-btn:not([disabled]):hover {
    box-shadow: 0 0 0.25rem #00000080,
      -0.125rem -0.125rem 1rem #47ef71f3,
      0.125rem 0.125rem 1rem #d9ff5aec;
  }

  .toggle-menu-btn {
    background: transparent;
    border: none;
  }

  .toggle-menu {
    display: none;
  }

  .toggle-menu-btn i {
    font-weight: 900;
    cursor: pointer;
    font-size: 25px;
  }

  

  @media only screen and (max-width: 600px) {
    .menu {
      display: none;
    }

    .toggle-menu {
      display: block;
    }


    .menu-small {
      position: fixed;
      top: 50px;
      right: 0;
      width: 70%;
      height: 100vh;
      background-color: #fff;
      border-bottom: 1px solid #f2f3f5;
      padding: 20px;
    }
  
    .menu-small.slide-in {
      animation: slide-in 0.5s ease forwards;
    }
  
    .menu-small.slide-out {
      animation: slide-out 0.5s ease forwards;
    }
    
  
    .menu-small ul {
      display: flex;
      flex-direction: column;
      height: 100%;
      align-items: flex-start;
    }
  
    .menu-small li {
      margin: 10px 0;
    }
  
  
    @keyframes slide-in {
      0% {
        transform: translateX(100%);
      }
  
      100% {
        transform: translateX(0%);
      }
    }
  
    @keyframes slide-out {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }
  }


  