header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 0 !important;
    z-index: 99;
  }
  
  .contact-stripe {
    width: 100%;
    height: 40px;
    padding: 10px;
    background-color: #dafefc !important;
    display: flex;
    flex-direction: row;
  }
  
  .stripe-contact-item {
    margin-right: 20px;
    font-family: var(--font-family-sans-serif);
  }
  
  .menu-large {
    width: 100%;
    padding: 10px;
  }
  
  .menu-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  li {
    margin: 0 20px;
  }
  
  .custom-btn {
    background: linear-gradient(to bottom right, #76c21b, #b5f36a);
    border: 0;
    border-radius: 12px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
      sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow 0.2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .custom-btn:not([disabled]):focus {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
      -0.125rem -0.125rem 1rem #47ef71f3,
      0.125rem 0.125rem 1rem #ff9a5a80;
  }
  
  .custom-btn:not([disabled]):hover {
    box-shadow: 0 0 0.25rem #00000080,
      -0.125rem -0.125rem 1rem #47ef71f3,
      0.125rem 0.125rem 1rem #d9ff5aec;
  }
  