.main {
  margin-top: 100px;
}

.intro-section {
  margin: 60px auto;
}

.intro-wrapper {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
}

.welcome {
  background: linear-gradient(to right, #75c416, #b5f36a);
  padding: 10px 20px;
  width: max-content;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.intro-text {
  font-size: 60px;
  color: #231e41;
  margin-bottom: 20px;
}

.actions {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.my-btn {
  padding: 10px 20px;
  border-radius: 30px;
  margin: 0 10px;
}

.custom-btn-outline {
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.custom-btn-fill {
  background: var(--primary-color);
  color: #fff;
  border: none;
}

.about-wrapper {
  margin: 50px 0;
}

.intro-image {
  border-radius: 20px;
}

.intro-image img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: inherit;
}

.section-title {
  color: var(--primary-color);
  margin-bottom: 20px;
}

.about-intro {
  font-size: 40px;
}

.normap-text {
  margin-top: 40px;
}

/* .custom-list {
    list-style: none;
    padding: 10px;
  }
  
  .custom-list li i {
    color: var(--primary-color);
    margin-right: 10px;
    font-weight: bold;
  } */

.main-image-wrapper {
  width: 100%;
  border-radius: 20px;
}

.main-image-wrapper img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: inherit;
}

.section-header {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 60px 0 40px 0;
}

.features-section {
  margin-bottom: 60px;
}

.feature-wrapper {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #f2f3f5;
  min-width: 200px;
  cursor: pointer;
}

.feature-wrapper:hover{
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.facts-section {
  /* background-image: url("../assets/images/bg/cat-bg.png"); */
  height: 200px;
  padding: 20px;
  border-radius: 20px;
}

.contactus-section {
  margin-bottom: 60px;
}

.conct-wrapper {
  margin: 0 auto;
}

.form-row {
  margin: 30px 0;
}

label {
  margin-bottom: 10px;
  display: none;
}

.fun-fact-section {
  background-image: url("/img/bg/counter-bg.png");
  padding: 40px 0;
  margin: 100px 0;
}

.gallery-image {
  border-radius: 20px;
  width: 100%;
  height: max-content;
  margin: 10px;
  cursor: pointer;
}
.gallery-image img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
  border-radius: inherit;
}

.team-row {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  justify-content: center !important;
}

.member-card {
  margin: 20px 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #f2f3f5;
}
.member-card h5,
h6 {
  text-align: center;
}
.role {
  font-size: 14px;
  color: #75c416 !important;
}

.member-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
  margin: 20px 0;
}

.member-image img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.call-to-action {
  width: 100%;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/bg/cat-bg.png");
}

.call-to-action-text {
  text-align: center;
  color: #fff;
}

.reach-out-details{
  display: flex;
  flex-direction: roq;
  width: 100%;
  padding: 20px;
}
 .form-wrapper {
  margin: 0 auto;
 }