.footer-sections{
    padding: 40px 0;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-section-title{
    color: #fff;
    font-size: 15px;
    margin: 20px 0;
}

.footer-links {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.footer-links i {
    color: var(--primary-color);
    font-weight: extra-bold;
    margin-right: 10px;
}

.gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-gallery-image-wrapper {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}

.footer-gallery-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

/* Show overlay on hoover */
.footer-gallery-image-wrapper:hover .overlay {
    display: block;
}


.footer-contact{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align-items: center; */
}

.footer-contact i {
    font-size: 20px;
    color: var(--primary-color);
    margin-right: 10px;
}

.footer-link-item {
    display: var(--primary-color);
}